:root {
  --color-bgDark--primary: #d80b51;
  --color-onDark--primary: #ffffff;

  --color-bgLight--primary: #ffffff;
  --color-onLight--primary: #000000;

  --color-bgLight--secondary: #eeeeee;
  --color-onLight--secondary: #eeeeee;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Permanent Marker", sans-serif;
}

nav {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

sticky-note:nth-child(odd) {
  --rotatez: 10deg;
}

sticky-note:nth-child(even) {
  --rotatez: -5deg;
}

