.sticky-component {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}

.sticky-content {
  visibility: hidden;
}

.sticky-notes {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  perspective-origin: center;
}

.sticky-note {
  height: 50%;
  width: 25%;
  cursor: grab;
}