/* index.njk styles */

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --bgcolor-start: #f0f0f0;
  --bgcolor-end: #fff;
  --bgcolor-contrast: #111;
  --bgcolor-overlay: rgba(255, 255, 255, .9);
  --color-accent: #000;

  --blockcolor: var(--bgcolor-start);
  --pegcolor: var(--bgcolor-end);
  --pegface: var(--bgcolor-start);

  --shadow: 0 0.5em 1em rgba(57, 60, 69, 0.2);
  --gradient: to bottom, var(--bgcolor-start), var(--bgcolor-end);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

a {
  color: currentColor;
  cursor: pointer;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background: var(--bgcolor-start); /* fallback for old browsers */
  background: -webkit-linear-gradient(var(--gradient));
  background: linear-gradient(var(--gradient));
  color: var(--bgcolor-contrast);
  background-attachment: fixed;
}

section {
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
}

strong {
  color: var(--color-accent);
}

svg {
  fill: currentColor;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.max-width {
  max-width: 800px;
  margin: 0 auto;
}

.content {
  padding: 1rem;
}

.logo-group {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 2rem 0;
  border-radius: 0.25em;
  color: var(--color-accent);
  --threshold: 600px;
}

.logo-group li {
  min-width: 50%;
  max-width: 100%;
  width: calc((var(--threshold) - 100%) * 100000);
  display: flex;
  align-items: center;
  margin: 1rem 0;
  justify-content: space-around;
}

.logo-group svg {
  width: 6em;
  opacity: 0.4;
}

.headline {
  font-family: Teko, sans-serif;
  font-size: 7rem;
  line-height: 0.75;
  font-weight: 400;
  margin: 0;
  margin-left: -0.25rem;
  color: var(--color-accent);
}

.hero {
  display: flex;
  min-height: 75vh;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  --threshold: 600px;
}

.hero > div {
  min-width: 50%;
  max-width: 100%;
  width: calc((var(--threshold) - 100%) * 100000);
}

.hero img {
  max-width: 100%;
  border-radius: 3px;
  box-shadow: var(--shadow);
  padding: 0.5rem;
}

.zdog-illustration {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.feature {
  background: var(--bgcolor-end);
  border-top: 1px solid var(--color-accent);
  border-bottom: 1px solid var(--color-accent);
}

.link {
  color: var(--color-accent);
  font-weight: 600;
  font-size: 0.8em;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.5ch;
}

.link svg {
  height: 1em;
  width: 1em;
  display: flex;
}

/* header.njk styles */

header {
  background: var(--bgcolor-end);
  position: sticky;
  top: 0;
  z-index: 1;
}

.header {
  display: flex;
  position: relative;
  align-items: center;
}

.header .ribbon {
  display: flex;
  text-transform: uppercase;
}

.header .chat {
  margin-left: auto;
  background: var(--bgcolor-end);
  border-radius: 0.25em;
  box-shadow: var(--shadow);
  color: var(--color-accent);
  text-decoration: none;
  padding: 0.5em 1em;
  transition: 0.218s ease;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8em;
}

.header .chat:hover {
  transform: scale(1.05);
}

/* hero.njk styles */

.overline {
  display: inline-block;
  font-weight: 400;
  font-size: .8em;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.definition {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* backdrop-filter: blur(4px); */
  background: var(--bgcolor-overlay);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: var(--shadow);
}

/* ds-cards.njk styles */

.topic-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
  gap: 2rem;
}

.topic-card {
  overflow: hidden;
  position: relative;
  box-shadow: var(--shadow);
  border-radius: 0.5rem;
  font-size: 0.8em;
  flex: 1;
}

.topic-card h3 {
  padding: 1rem;
  margin: 0;
  background: var(--bgcolor-end);
  color: var(--color-accent);
}

.topic-card p {
  margin: 0;
  padding: 1rem;
  line-height: 1.5;
  padding-bottom: 3rem;
  margin-bottom: 4rem;
  border-radius: 0.25rem;
  clip-path: polygon(0 0, 100% 0%, 100% 70%, 0% 100%);
  background: var(--bgcolor-end);
}

.topic-card svg {
  height: 1em;
  width: 1em;
  font-size: 10rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform-origin: center;
  transform: translate(-50%, 25%) rotate(16deg);
  line-height: 1;
  display: inline-block;
  /* color: var(--bgcolor-end); */
  opacity: 0.1;
}

/* dd-feature.njk */

.float {
  position: absolute;
  right: 0;
}

.overflow {
  position: relative;
  background: var(--bgcolor-overlay);
  box-shadow: 0 0 1em 1em var(--bgcolor-overlay);
}

/* footer.njk */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

.contact-social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  width: 100%;
}

.contact-social a {
  padding: 1em;
  color: inherit;
  display: flex;
  opacity: 0.6;
}

.contact-social a:hover {
  opacity: 1;
}

.contact-social svg {
  height: 1em;
  width: 1em;
}
