/* general styles */

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {

  --bgcolor-start: rgb(0, 18, 106);
  --bgcolor-end: #00489b;
  --bgcolor-contrast: #ffffeb;
  --bgcolor-overlay: rgba(0, 72, 155, .8);
  --color-accent: #0095b8;

  --blockcolor: var(--bgcolor-start);
  --pegcolor: var(--bgcolor-end);
  --pegface: var(--bgcolor-start);

  --shadow: 0 1em 1em rgba(0, 18, 106, 0.2);
  --gradient: to bottom, var(--bgcolor-start), var(--bgcolor-end);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

a {
  color: currentColor;
  cursor: pointer;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background: var(--bgcolor-start); /* fallback for old browsers */
  background: -webkit-linear-gradient(var(--gradient));
  background: linear-gradient(var(--gradient));
  color: var(--bgcolor-contrast);
  background-attachment: fixed;
}

section {
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
}

strong {
  color: var(--color-accent);
}

svg {
  width: 1em;
  fill: currentColor;
}

:focus {
  outline: 1px dashed yellow;
  outline-offset: 2px;
}

/* utility styles */

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.max-width {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.inset-padding {
  padding: 1rem;
}

.feature {
  min-height: 75vh;
  background: var(--bgcolor-end);
  border-top: 1px solid var(--color-accent);
  border-bottom: 1px solid var(--color-accent);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.button {
  border: 1px solid;
  box-shadow: var(--shadow);
  color: inherit;
  text-decoration: none;
  padding: 0.5em 1em;
  font-weight: 600;
  font-size: 0.8em;
  white-space: nowrap;
  transition: background .218s ease;
}

.button:hover {
  background: var(--color-accent);
}

/* typography */

.headline {
  font-family: Teko, sans-serif;
  font-size: 7rem;
  line-height: 0.75;
  font-weight: 400;
  margin: 0;
}

.title {
  font-weight: normal;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.overline {
  display: inline-block;
  font-weight: 400;
  font-size: .8em;
  color: var(--color-accent);
}

/* layout - split */

.split {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  --threshold: 600px;
}

.split > * {
  min-width: 50%;
  max-width: 100%;
  width: calc((var(--threshold) - 100%) * 100000);
}

/* components - callout */ 

.callout {
  background: var(--bgcolor-overlay);
  position: relative;
  border: 1px dashed var(--color-accent);
}

.callout .overline {
  margin: 1rem 1rem 0;
}

.callout .headline {
  margin-left: calc(1rem - 4px);
  margin-right: 1rem;
  margin-top: 1rem;
}

.callout p {
  margin: 1rem;
  max-width: 30ch;
}

.callout a {
  color: inherit;
  font-weight: 600;
  font-size: 0.8em;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.callout a:focus {
  outline: none;
}

.callout a span {
  border: 1px solid;
  padding: .5em 1em;
  transition: background .218s ease;
}

.callout a:focus span {
  outline: 1px dashed yellow;
  outline-offset: 2px;
}

.callout a:hover span {
  background: var(--color-accent);
}

.callout a hr {
  border: 0;
  border-bottom: 1px dashed var(--color-accent);
  flex: 1;
}

/* components - logo group */

.logo-group {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 2rem 0;
  border-radius: 0.25em;
  color: var(--color-accent);
  --threshold: 600px;
}

.logo-group > * {
  min-width: 50%;
  max-width: 100%;
  width: calc((var(--threshold) - 100%) * 100000);
  display: flex;
  align-items: center;
  margin: 1rem 0;
  justify-content: space-around;
}

.logo-group svg {
  width: 6em;
}

/* components - header */

header {
  background: var(--bgcolor-end);
  position: sticky;
  top: 0;
  z-index: 1;
}

.header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

/* components - topic cards */

.topic-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
  gap: 2rem;
}

.topic-card {
  overflow: hidden;
  position: relative;
  box-shadow: var(--shadow);
  font-size: 0.8em;
  flex: 1;
}

.topic-card h3 {
  padding: 1rem;
  margin: 0;
  background: var(--bgcolor-end);
  margin-bottom: 1px;
}

.topic-card p {
  margin: 0;
  padding: 1rem;
  line-height: 1.5;
  padding-bottom: 3rem;
  margin-bottom: 4rem;
  clip-path: polygon(0 0, 100% 0%, 100% 70%, 0% 100%);
  background: var(--bgcolor-end);
}

.topic-card svg {
  height: 1em;
  width: 1em;
  font-size: 10rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform-origin: center;
  transform: translate(-50%, 25%) rotate(16deg);
  line-height: 1;
  display: inline-block;
  color: var(--bgcolor-overlay);
  /* opacity: 0.05; */
}

/* components - footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

.contact-social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  width: 100%;
}

.contact-social a {
  padding: 1em;
  color: inherit;
  display: flex;
  opacity: 0.6;
}

.contact-social a:hover {
  opacity: 1;
}

.contact-social svg {
  height: 1em;
  width: 1em;
}

.brick-illustration svg {
  filter: grayscale(1);
  mix-blend-mode: soft-light;
  position: absolute;
  top: 0;
  right: 1rem;
  height: 100%;
  width: auto;
}

.zdog-illustration {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: .1;
}