<!doctype html>
<html lang="en">
  <head>
    {% include "head.njk" %}
  </head>
  <body>
    <main>
      <header class="header">
        <logo-mark></logo-mark>
        <navigation-router></navigation-router>
      </header>
      <div class="sticky-notes container">
        <sticky-notes id="home">
          <sticky-content>Donnie D’Amato</sticky-content>
        </sticky-notes>
      </div>
      <photo-card class="container" id="about">
        <h2 slot="title">Design Systems Architect</h2>
        <p class="pronounciation">[dɪˈzaɪn ˈsɪstɪmz ˈɑːkɪtɛkt] <speak-button>Design Systems Architect</speak-button></p>
        <strong><em>&mdash;noun</em></strong>
        <ol>
          <li>Waistcoat heirloom kogi biodiesel succulents slow-carb godard jianbing, VHS artisan.</li>
          <li>Thundercats jean shorts gentrify, brunch lyft etsy stumptown hella vinyl irony leggings chillwave lomo PBR&B.</li>
          <li>Hexagon gluten-free butcher stumptown glossier keffiyeh.</li>
          <li>Wolf pop-up brooklyn bitters fam raw denim.</li>
        </ol>
      </photo-card>
      {% include "gallery.njk" %}
      {% include "footer.njk" %}
    </main>
  </body>
</html>