<!doctype html>
<html lang="en">
  <head>
    {% include "head.njk" %}
  </head>
  <body>
    <main class="main">
      <div class="max-width">
        <header class="header"></header>
        <card-carousel></card-carousel>
        {% include "projects.njk" %}
      </div>
    </main>
    <footer class="footer">
      <div class="max-width">
         {% include "footer.njk" %}
      </div>
    </footer>
  </body>
</html>