<!doctype html>
<html lang="en">
  <head>
    {% include "head.njk" %}
  </head>
  <body>
    <main class="main">
      <div class="splash max-width drop-shadow">
        {% include "splash.njk" %}
      </div>
      <div class="carousel max-width drop-shadow">
        {% include "carousel.njk" %}
      </div>
      <div class="projects max-width drop-shadow">
        {% include "projects.njk" %}
      </div>
    </main>
    <footer class="footer">
      <div class="footer-content max-width">
         {% include "footer.njk" %}
      </div>
    </footer>
  </body>
</html>