<div class="card-carousel">
  <div class="topic-card">
    <h3>UXD</h3>
    <p>I am a <strong>user experience professional</strong> with strong qualifications in research, prototyping, and design to deliver production-ready solutions quickly.</p>
  </div>
  <div class="topic-card">
    <h3>DEV</h3>
    <p>I am a <strong>web development expert</strong> with over 20 years of experience solving problems with components, accessibility, localization, and performance.</p>
  </div>
  <div class="topic-card">
    <h3>EDU</h3>
    <p>I am a <strong>thought-provoking educator</strong> who has taught hundreds of students the applications of user experience and engineering methods.</p>
  </div>
</div>