<section class="feature">
  <div class="max-width split content-padding" style="flex-direction: row-reverse">
    <div class="brick-illustration">
      {% include "svg/bricks.svg" %}
    </div>
    <div>
      <small class="overline" aria-hidden="true">Exploration —</small>
      <div class="callout blueprint">

        <h2 class="headline">
        DAMATO
        DESIGN
      </h2>
        <p>What could we emphasize without focusing on asset delivery? How might we provide detailed guidelines for mixed stakeholders using thoughtful design and inclusive technologies?</p>
        <a href="https://damato.design" target="_blank" rel="noopener">
          <span>Visit damato.design</span>
          <hr/>
        </a>
      </div>
    </div>
  </div>
</section>