<section class="feature">
  <div class="max-width split content-padding" style="flex-direction: row-reverse">
    <div class="brick-illustration">
      {% include "svg/bricks.svg" %}
    </div>
    <div>
      <small class="overline">Case Study —</small>
      <div class="callout blueprint">

        <h2 class="headline">
        DAMATO<br/>
        DESIGN
      </h2>
        <p>Exploring what a design system offering may include without a business or feature initiative; focusing on simple solutions with thoughtful design and inclusive technologies.</p>
        <a href="https://damato.design" target="_blank">
          <span>Visit the site</span>
          <hr/>
        </a>
      </div>
    </div>
  </div>
</section>