<section id="design-systems">
  <div class="max-width content-padding ">
  <h2 class="center">Areas of Engagement</h2>
  <div class="topic-cards ">
    <div class="topic-card">
      {% include "svg/icon-a11y.svg" %}
      <h3 class="title">Accessibility</h3>
      <hr/>
      <p><strong>I am W3C accessibility certified.</strong> My work strives for an inclusive experience for everyone by putting user preferences first.</p>
    </div>

    <div class="topic-card">
      {% include "svg/icon-i18n.svg" %}
      <h3 class="title">Localization</h3>
      <hr/>
      <p><strong>I study foreign language and cultures recreationally.</strong> My work highlights areas of support for audiences all around the world.</p>
    </div>

    <div class="topic-card">
      {% include "svg/icon-document.svg" %}
      <h3 class="title">Documentation</h3>
      <hr/>
      <p><strong> I participate in the Write the Docs community.</strong> I introduce empathy into guidelines and help teams execute with clarity.</p>
    </div>

    <div class="topic-card">
      {% include "svg/icon-token.svg" %}
      <h3 class="title">Design Tokens</h3>
      <hr/>
      <p><strong>I am a member of the W3C Design Tokens Working Group. </strong> I harness the potential of a semantic naming framework that favors intentions.</p>
    </div>

    <div class="topic-card">
      {% include "svg/icon-component.svg" %}
      <h3 class="title">Components</h3>
      <hr/>
      <p><strong>I've built dozens of reusable components using popular web frameworks.</strong> My approach is custom to the needs of each team and project.</p>
    </div>

    <div class="topic-card">
      {% include "svg/icon-plugin.svg" %}
      <h3 class="title">Tooling</h3>
      <hr/>
      <p><strong>I've published several open-source packages for public distribution.</strong> I bridge the gap by streamlining the handoff process.</p>
    </div>
  </div>
  </div>
</section>