<section id="design-systems">
  <div class="max-width content-padding ">
  <h2 class="center">Areas of Engagement</h2>
  <div class="topic-cards ">
    <div class="topic-card">
      {% include "svg/icon-a11y.svg" %}
      <h3 class="title">Accessibility</h3>
      <p>I am a web development expert with over 20 years of experience using code to solve problems with systems, accessibility, localization, and performance.</p>
    </div>

    <div class="topic-card">
      {% include "svg/icon-i18n.svg" %}
      <h3 class="title">Localization</h3>
      <p>I am a web development expert with over 20 years of experience using code to solve problems with systems, accessibility, localization, and performance.</p>
    </div>

    <div class="topic-card">
      {% include "svg/icon-document.svg" %}
      <h3 class="title">Documentation</h3>
      <p>I am a web development expert with over 20 years of experience using code to solve problems with systems, accessibility, localization, and performance.</p>
    </div>

    <div class="topic-card">
      {% include "svg/icon-token.svg" %}
      <h3 class="title">Design Tokens</h3>
      <p>I am a web development expert with over 20 years of experience using code to solve problems with systems, accessibility, localization, and performance.</p>
    </div>

    <div class="topic-card">
      {% include "svg/icon-component.svg" %}
      <h3 class="title">Components</h3>
      <p>I am a web development expert with over 20 years of experience using code to solve problems with systems, accessibility, localization, and performance.</p>
    </div>

    <div class="topic-card">
      {% include "svg/icon-plugin.svg" %}
      <h3 class="title">Plugins</h3>
      <p>I am a web development expert with over 20 years of experience using code to solve problems with systems, accessibility, localization, and performance.</p>
    </div>
  </div>
  </div>
</section>