<section id="design-systems">
  <div class="max-width content-padding ">
  <h2 class="center">Areas of Engagement</h2>
  <div class="topic-cards ">
    <div class="topic-card">
      <h3 class="title">Accessibility</h3>
      <p>The more accessible an experience, the more incoming conversions. I am certified accessibility expert by the W3C. My work strives for an inclusive experience for everyone.</p>
      {% include "svg/icon-a11y.svg" %}
    </div>

    <div class="topic-card">
      <h3 class="title">Localization</h3>
      <p>Technology allows people to change the content on the web for better comphrension and culture awareness. My work highlights areas of support for audiences all around the world.</p>
      {% include "svg/icon-i18n.svg" %}
    </div>

    <div class="topic-card">
      <h3 class="title">Documentation</h3>
      <p>If its not documented, it might as well not exist. My writing introduces empathy into the guidelines to help teams execute more efficiently on projects and features.</p>
      {% include "svg/icon-document.svg" %}
    </div>

    <div class="topic-card">
      <h3 class="title">Design Tokens</h3>
      <p>Tokens are the foundation of many design systems. I am a part of the W3C Design Tokens Wroking Group. I harness the potential of a semantic naming framework that describes usage over value.</p>
      {% include "svg/icon-token.svg" %}
    </div>

    <div class="topic-card">
      <h3 class="title">Components</h3>
      <p>The building blocks that compose larger experiences. I am formidable with web technologies such as React, Angular, Vue, and other approaches. Each chosen based on the needs of the team.</p>
      {% include "svg/icon-component.svg" %}
    </div>

    <div class="topic-card">
      <h3 class="title">Tooling</h3>
      <p>Extending existing design applications will empower teams and join designers with their engineering teams. I bridge the gap by streamlining the handoff process.</p>
      {% include "svg/icon-plugin.svg" %}
    </div>
  </div>
  </div>
</section>