<section>
  <div class="max-width education content">
    <h2 class="center">Education</h2>
<ul class="logo-group">
  <li>{% include "svg/logo-parsons.svg" %} {% include "svg/logo-nyit.svg" %}</li>
  <li>{% include "svg/logo-galvanize.svg" %} {% include "svg/logo-thrivedx.svg" %}</li>
</ul>
 <p class="justify">
    Donnie is a fully-qualified user experience professional leading responsibilities in both product and engineering organizations. He has directed teams toward success in areas of product design and development through best practices and cutting-edge techniques. He strives to enhance the collaborative efforts between peer departments and drive consistency through a given platform.
  </p>
</div>
</section>