<section>
  <div class="max-width content-padding">
    <h2 class="center">Giving Back</h2>
    <div class="logo-group">
      <div>{% include "svg/logo-parsons.svg" %}
        {% include "svg/logo-nyit.svg" %}</div>
      <div>{% include "svg/logo-galvanize.svg" %}
        {% include "svg/logo-thrivedx.svg" %}</div>
    </div>
    <p class="justify">
    With over 20 years of experience in web design and development, I find teaching to be a greatly rewarding practice. I am a thought-provoking educator who has taught numerous classes about the value of user experience and engineering approaches. I use everyday ideas and tasks to describe complex concepts. This is often evaluated by the students as more informative than common bootcamp methods.
  </p>
    <p>
      <a href="https://cal.com/donnie-damato" rel="noopener">Chat with me</a> if you need understanding in any of my areas of expertise. I am more than happy to assist where I can in the path toward collective enlightment.</p>
  </div>
</section>