<footer class="max-width content-padding">
  <div class="content-padding blueprint">
  <div class="contact-social split">
  <div>
       <a href="https://codepen.io/fauxserious" title="CodePen" aria-label="CodePen">
        {% include "svg/social-codepen.svg" %}
      </a>
      <a href="https://github.com/ddamato" title="GitHub" aria-label="GitHub">
        {% include "svg/social-github.svg" %}
      </a>
      <a href="https://linkedin.com/in/fauxserious" title="LinkedIn" aria-label="LinkedIn">
        {% include "svg/social-linkedin.svg" %}
      </a>
      <a href="https://medium.com/ddamato" title="Medium" aria-label="Medium">
        {% include "svg/social-medium.svg" %}
      </a>
      </div>
      <div>
      <a href="https://stackoverflow.com/users/story/3928045" title="StackOverflow" aria-label="StackOverflow">
        {% include "svg/social-stackoverflow.svg" %}
      </a>
      <a href="https://www.twitch.tv/phrekwenci" title="Twitch" aria-label="Twitch">
        {% include "svg/social-twitch.svg" %}
      </a>
      <a href="https://twitter.com/donniedamato" title="Twitter" aria-label="Twitter">
        {% include "svg/social-twitter.svg" %}
      </a>
      <a href="https://youtube.com/c/donniedamato" title="YouTube" aria-label="YouTube">
        {% include "svg/social-youtube.svg" %}
      </a>
      </div>
  </div>
  <p class="copyright">Copyright ©
    <span id="year">
      <script>year.textContent = new Date().getFullYear()</script>
    </span>
  <br>Donnie D'Amato, All Rights Reserved</p>
  </div>
</footer>