<footer id="contact" class="footer container">
  <div class="footer-content">
    <ul class="social-connect">
      <li><a href="#">&equiv;</a></li>
      <li><a href="#">&equiv;</a></li>
      <li><a href="#">&equiv;</a></li>
      <li><a href="#">&equiv;</a></li>
      <li><a href="#">&equiv;</a></li>
      <li><a href="#">&equiv;</a></li>
      <li><a href="#">&equiv;</a></li>
    </ul>
    <div class="footer-info">
      <div class="footer-top">
        <span>Start a conversation</span>
      </div>
      <div class="footer-bottom">
        <h3>hello@donniedamato.info</h3>

        Copyright 2020, All rights reserved<br/>
        Site is hosted on Netlify<br/>
        Source code is on GitHub<br/>
        Photography is from Unsplash / Freepik, altered as creative work
      </div>
    </div>
  </div>
</footer>