<section class="photo-gallery container" id="gallery">
  <div class="photo-frames">
    {% for item in gallery %}
      <photo-frame
        id="{{ item.id }}"
        class="photo-frame"
        image="{{ item.image }}"
        headline="{{ item.headline }}"
        year="{{ item.year }}"
        link="{{ item.link }}"
        summary="{{ item.summary }}">
          {{ item.content | safe }}
      </photo-frame>
    {% endfor %}
  </div>
</section>