<header>
  <div class="max-width header inset-padding">
    <span class="title">
      Donnie D'Amato, BFA., MA.
    </span>
    <a class="button" href="https://cal.com/donnie-damato">Schedule a chat</a>
  </div>
</header>