<header>
  <div class="max-width header content-padding">
    <span class="title">
      Donnie D'Amato, BFA., MA.
    </span>
    <a class="chat-button" title="Schedule a chat" href="https://cal.com/donnie-damato">{% include "svg/icon-chat.svg" %}</a>
  </div>
</header>