
<title>Donnie D'Amato</title>
<meta property="og:url" content="https://donniedamato.info" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Donnie D'Amato" />
<meta property="og:description" content="Design Systems Architect" />
<meta property="og:image" content="https://donniedamato.info/og-image.jpg" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="twitter:creator" content="@donniedamato" />
<meta property="twitter:creator:id" content="230538553" />
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta content="chrome=1" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta name="description" content="Design Systems Architect">
<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
<link rel="manifest" href="site.webmanifest">
<link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#0095b8">
<meta name="theme-color" content="#ffffff">
<link rel="alternate" href="https://donniedamato.info" hreflang="en-us" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Teko&display=fallback" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="styles.css">

<script type="text/javascript" defer>
  window.onload = () => 'serviceWorker' in navigator && navigator.serviceWorker.register('sw.js').then((registration) => registration.update()).catch((err) => {});
</script>

<script type="text/javascript" src="zdog.dist.min.js" defer></script>
<script type="text/javascript" src="brickspin.js" defer></script>

<link rel="preconnect" href="https://www.google-analytics.com" crossorigin />
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-54428903-2"></script>
<script>
  if (window.location.hostname === 'donniedamato.info') {
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-54428903-2', {'transport_type': 'beacon'});
  }
</script>

<script type="application/ld+json">
{
  "@context": "schema.org",
  "@type": "WebPage",
  "name": "Donnie D'Amato",
  "description": "Design Systems Architect",
  "url": "http://donniedamato.info"
}
</script>