<header>
  <div class="max-width header content-padding">
    <span class="title">
      Donnie D<span aria-hidden="true">'</span>Amato, <abbr title="Bachelors of Fine Arts">BFA.</abbr>, <abbr title=" Masters of Arts">MA.</abbr>
    </span>
    <a class="chat-button" title="Schedule a chat" href="https://cal.com/donnie-damato" rel="noopener">{% include "svg/icon-chat.svg" %}</a>
  </div>
</header>