
<title>Donnie D'Amato</title>
<meta property="og:url" content="https://damato.design" />
<meta property="og:type" content="website" />
<meta property="og:title" content="DAMATO Design System - {{ title }}" />
<meta property="og:description" content="{{ description }}" />
<meta property="og:image" content="https://damato.design/og-image.jpg" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="twitter:creator" content="@donniedamato" />
<meta property="twitter:creator:id" content="230538553" />
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta content="chrome=1" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta name="description" content="{{ description }}">
<link rel="alternate" href="https://damato.design" hreflang="en-us" />

<script type="text/javascript" src="bubbles.js" defer></script>

<link href="https://use.typekit.net/kld8gdm.css" rel="preload" as="style">
<link href="https://use.typekit.net/kld8gdm.css" rel="stylesheet" media="print" onload="this.media='all'">

<link href="styles.css" rel="preload" as="style">
<link href="styles.css" rel="stylesheet" media="print" onload="this.media='all'">

<noscript>
  <link rel="stylesheet" href="https://use.typekit.net/kld8gdm.css">
  <link rel="stylesheet" href="styles.css">
</noscript>

<!-- Global site tag (gtag.js) - Google Analytics -->
<link rel="preconnect" href="https://www.google-analytics.com" crossorigin />
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-54428903-2"></script>
<script>
  if (window.location.hostname === 'donniedamato.info') {
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-54428903-2', {'transport_type': 'beacon'});
  }
</script>

<script type="application/ld+json">
{
  "@context": "schema.org",
  "@type": "Guide",
  "about": "Design Systems",
  "name": "DAMATO Design System",
  "text": "{{ description }}",
  "reviewAspect": [
    "Color",
    "Typography",
    "Layout",
    "Patterns",
    "Components"
  ]
}
</script>