<section class="feature">
	<canvas class="zdog-illustration"></canvas>
	<div class="max-width content-padding split">
		<div>
			<h1 class="headline hero">
				Design<br/>
				Systems<br/>
				Architect
			</h1>
		</div>
		<div>
			<small class="overline">[ dɪˈzaɪn ˈsɪstɪmz ˈɑːkɪtɛk] n.</small>
			<div class="callout blueprint">
				<p>a person who plans, organizes, or structures resources for a group of designers or engineers to craft cohesive user experiences.</p>
				<a href="#design-systems">
					<span>Learn more</span>
					<hr/>
				</a>
			</div>
		</div>
	</div>
</section>