<section class="feature">
	<canvas class="zdog-illustration" aria-label="Rotating building brick" role="img"></canvas>
	<div class="max-width content-padding split">
		<div>
			<h1 class="headline hero">
				Design
				Systems
				Architect
			</h1>
		</div>
		<div>
			<small class="overline" aria-hidden="true">[ dɪˈzaɪn ˈsɪstɪmz ˈɑːkɪtɛk] n.</small>
			<div class="callout blueprint">
				<p>a person who organizes resources with design and engineering collaboration for the purpose of crafting cohesive user experiences.</p>
				<a href="#design-systems">
					<span>Learn more</span>
					<hr/>
				</a>
			</div>
		</div>
	</div>
</section>