<section class="feature">
	<canvas class="zdog-illustration"></canvas>
	<div class="max-width hero content">
		<div class="intro">
			<h1 class="headline">
				Design<br/>
				Systems<br/>
				Architect
			</h1>
		</div>
		<div class="definition">
			<small>[ dɪˈzaɪn ˈsɪstɪmz ˈɑːkɪtɛk] n.</small>
			<p>a person who plans, organizes, or structures resources for a group of designers or engineers to craft cohesive user experiences.</p>
			<a class="link" href="#design-systems">Learn more {% include "svg/icon-arrow.svg" %}</a>
		</div>
	</div>
</section>