<!doctype html>
<html lang="en">
  <head>
    {% include "head.njk" %}
  </head>
  <body>
    {% include "header.njk" %}
    {% include "hero.njk" %}
    {% include "ds-cards.njk" %}
    {% include "uxeng.njk" %}
    {% include "dd-feature.njk" %}
    {% include "education.njk" %}
    {% include "footer.njk" %}
  </body>
</html>