<section>
  <div class="max-width content-padding">
    <h2 class="center">Design + Development</h2>
    <div class="logo-group">
      <div>{% include "svg/logo-compass.svg" %}
        {% include "svg/logo-godaddy.svg" %}</div>
      <div>{% include "svg/logo-itemize.svg" %}
        {% include "svg/logo-knoetic.svg" %}</div>
    </div>
    <p class="justify">
  I have built and maintained design systems for large companies by being an active liasion between the product design and engineering teams. I have interdisplicinary skills in both art and technology, which help craft solutions for different needs. My interest in design systems comes from a curiousity about how the entire system is viewed by the user; how they respond and interact with it.</p>
    <p class="justify caboose">
      <a href="https://cal.com/donnie-damato" rel="noopener">Chat with me</a> if you have a project that needs a digital handyman to synethsize user needs into functional designs. I work in code so my deliverables can be wired into existing codebases as an accurate developer handoff; ready for the world to experience.</p>
  </div>
</section>