<section>
  <div class="max-width inset-padding">
    <h2 class="center">Design + Development</h2>
  <ul class="logo-group">
  <li>{% include "svg/logo-compass.svg" %} {% include "svg/logo-godaddy.svg" %}</li>
  <li>{% include "svg/logo-itemize.svg" %} {% include "svg/logo-knoetic.svg" %}</li>
</ul>
  <p class="justify">
  He has built and maintained design systems for large companies by being an active liasion between the product design and engineering teams. He has interdisplicinary skills in both art and technology which help craft solutions for different needs. His interest in design systems comes from a curiousity about how the entire system is viewed by the user; how they respond and interact with it.</p>
  </div>
</section>